/* Author: Maksym Hanushchak, 000776919 */

html,
body {
  min-height: 100vh;
  height: 100%;
}

#map_row {
  height: 100%;
}

#map {
  height: 100%;
}

#error_div {
  border-radius: 0;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.flex-fill {
  flex: 1 1 auto;
}

.alert-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  border-radius: 0px
}

.star_checked {
  color: orange;
}

@media screen and (max-width: 820px) {
  #footer_text {
    margin-bottom: 30px;
  }
}